
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 200px;
    width: 80vw;
  }
  
  .counter {
    width: 20%;
    padding: 40px;
    border-radius: 10px;
    background-color: #4267b2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 2rem;
  }
  


  .counter-title {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  
  .counter-count {
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .counter-button-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
  }
  
  .counter-button {
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    color: #4267b2;
    border: none;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
  }

  .graph-container {
    width: 1000px;
    height: 700px;
    display: block;
    margin: -300px;
    position: absolute;
    bottom: 0;
    padding: 20px;
  }
 